body {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    margin-top: 65px;
}

#content {
    margin-bottom: 80px;
}

.sidebar {
    /*height: 100vh;*/
    /*border-right: 2px dotted gray;*/
    /*padding-top: 15px;*/
}
.main {
    /*padding: 0px 40px;*/
}

.jobtable {
    margin-bottom: 50px;
}